.spinner {
    grid-column-start: 6;
    grid-column-end: span 2;
    grid-row-start: 5;
    grid-row-end: span 2;
    align-self: center;
    justify-self: center;
}

.widget {
    grid-column-start: 6;
    grid-column-end: span 2;
    grid-row-start: 6;
    grid-row-end: span 2;
    text-align: center;
    align-self: center;
}