/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.main-grid {
    display: grid;
    grid-template-columns: repeat(12, 8.33333%);
    grid-template-rows: repeat(12, 8.33333%);
    height: 100vh;
}

.spinner-grid {
    grid-column-start: 6;
    grid-column-end: span 2;
    grid-row-start: 5;
    grid-row-end: span 2;
    align-self: center;
    justify-self: center;
}

.shared-grid {
    grid-column-start: 8;
    grid-column-end: 11;
    grid-row-start: 2;
    grid-row-end: 2;
    align-self: center;
    text-align: right;

    &--list {
        @extend .shared-grid;
        grid-row-start: 1;
        grid-row-end: 1;
        align-self: self-end;
    }
}